p:empty{
    display: block;
    padding: 10px;
    margin: 15px;
}
p:nth-child(2n){
    color: red;
}
/* p:nth-of-type(2n){
    color: green;
} */
/* p::before{
    content: '--';
} */
p{
    text-indent: 50px;
    text-transform: lowercase;
}
p::first-letter{
    text-transform: uppercase;
}
p::first-line{
    color: green;
}